{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="w3-container" style="margin-top:1%; margin-left: 35%; margin-right: 35%; ">
  <h1 align="center"> login</h1>
    <form  class="modal-content animate" action=" " method="post">
        <div class="mb-3" class="container"  class="p-3 mb-2 bg-secondary text-white">
          <label for="exampleInputEmail1" class="form-label">User name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
    
  </div>
{% endblock content %}
